*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:1300px ;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.container{
    width: 80%;
    height:1000px;
    background-color: antiquewhite;
}

.primeiro{
    position: absolute;
    top: 0;
    margin: 10px auto;
    width: 80%;
    height: 80px;
    border: solid 1px black;
}

.segundo{
    position: absolute;
    top: 0;
    left: 0;
    right: 500px;
    width: 80%;
    height: 40px;
    border: solid 1px black;
}

.terceiro{
    position: absolute;
    top: 0;
    left: 500px;
    right: 0;
    width: 90%;
    height: 100vh;
    border: solid 1px black;
}